nav {
    background-color: rgb(78, 92, 113);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

li {
    display: inline-block;
    margin: 1rem;
}

.sign-up-button {
    border: 2px solid white;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    background-color: rgb(44, 50, 71);
    color: white;
}