body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(78, 92, 113);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

li {
  display: inline-block;
  margin: 1rem;
}

.sign-up-button {
  border: 2px solid white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  background-color: rgb(44, 50, 71);
  color: white;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  gap: 5rem;
}

.hero-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40%;
}

.get-started-button {
  border: 2px solid rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.card-section {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    gap: 2rem;
    background-color: rgb(247, 247, 247);
}

.card-img{
    width: 100%;
    height: auto;
}